

h1{
  font-size: 50px;
  padding-left: 30px;
}

p{
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}


 hr{
	margin-left: 35%;
	margin-right: 35%;
	border: 0px;
	border-radius: 2px;
	border-top: 6px solid mediumaquamarine;
	border-bottom: 2px solid rebeccapurple;
 }

