{% extends "layout.html" %}

{% set active_page = "home"%}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Police Shootings</h1>
  <p>
    This site analyzes data from the Washington post's database of police shootings (found <a href="https://github.com/washingtonpost/data-police-shootings">here</a>) found on the <a href="https://corgis-edu.github.io/corgis/json/">CORGIS Dataset Project.</a> 
    It is a record of deadly shootings by active duty police officers from 2015 to May of 2019.
    Because it was gathered by combing through local news reports, law enforcement websites, and social media as well as by monitoring independent databases, the data may not be 100% complete.
    
  </p>
{% endblock %}
