{% extends "layout.html" %}

{% set active_page = "home"%}

{% block title %}Data Specifications{% endblock %}

{% block content %}
  <h1> About Police Shooting Data</h1>
  <p>
    This site analyzes data from the Washington post's database of police shootings (found <a href="https://github.com/washingtonpost/data-police-shootings">here</a>) found on the <a href="https://corgis-edu.github.io/corgis/json/">CORGIS Dataset Project.</a> 
    It is a record of police shootings from 2015 to May of 2019, in whch a police officer, in the line of duty, shot and killed a civilian.
    Because it was gathered by combing through local news reports, law enforcement websites, and social media as well as by monitoring independent databases, the data may not be 100% complete. 
    The Washington Post continues to update the database as new details and incidents emerge and take place.
  </p>

  <p>
    In this dataset, "Threat-level" is defined as "attack" (a direct and immediate thret to life to the officer), "other" (consisting of threatening behavior), or "undetermined" (in which the threat level was unknown).
    
  </p>
  <p>
    In this dataset, an Age of 0 indicates an unknown age and a name of "TK TK" indicates an unknown name.
  </p>
{% endblock %}
