{% extends "layout.html" %}

{% set active_page = "page2"%}

{% block title %}Locations{% endblock %}

{% block content %}
  <br>
  <h1>Location of Shootings</h1>
  <p>
    This chart shows the number of people per 100000 that is shot by the police in each state.
  </p>
  <br><br>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script type="text/javascript">
  window.onload = function () {
    var chart1 = new CanvasJS.Chart("chartContainer1", {
      theme: "light2",
      animationEnabled: true,
      title:{
        text: "Percent of State Shot by Police"              
      },
      axisX:{
         title:"States",
         labelFontSize: 10,
         

      },
      axisY:{
         title:"Number of People Shot by Police per 100000",

      },
      data: [              
      {
        // Change type to "doughnut", "line", "splineArea", etc.
        type: "column",
        dataPoints: [
          {{ dataCode }}
        ]
      }
      ]
    });
    chart1.render()
  }
  </script>
  <div id="chartContainer1" style="width: 100%"; height: 500px; display: inline-block;"></div>
  
{% endblock %}
