{% extends "layout.html" %}

{% set active_page = "page1"%}

{% block title %}page1{% endblock %}

{% block content %}
  <h1>Victims of Shootings by Race</h1>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer", {
      title:{
        text: "Shootings by Race"              
      },
      data: [              
      {
        // Change type to "doughnut", "line", "splineArea", etc.
        type: "doughnut",
        dataPoints: [
          { label: "apple",  y: 25  },
          { label: "orange", y: 25  },
          { label: "banana", y: 25  },
          { label: "mango",  y: 25  },
          { label: "grape",  y: 100  }
        ]
      }
      ]
    });
    chart.render();
  }
  </script>


  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
  
{% endblock %}
