{% extends "layout.html" %}

{% set active_page = "page2"%}

{% block title %}page1{% endblock %}

{% block content %}
  <h1>Victims of Shootings</h1>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script type="text/javascript">
  window.onload = function () {
    var chart1 = new CanvasJS.Chart("chartContainer1", {
      title:{
        text: "Victims by State"              
      },
      data: [              
      {
        // Change type to "doughnut", "line", "splineArea", etc.
        type: "bar",
        dataPoints: [
          { y: 21, label: "21%", indexLabel: "Video" },
          { y: 25, label: "25%", indexLabel: "Dining" },
          { y: 33, label: "33%", indexLabel: "Entertainment" },
          { y: 36, label: "36%", indexLabel: "News" },
          { y: 42, label: "42%", indexLabel: "Music" },
          { y: 49, label: "49%", indexLabel: "Social Networking" },
          { y: 50, label: "50%", indexLabel: "Maps/ Search" },
          { y: 55, label: "55%", indexLabel: "Weather" },
          { y: 61, label: "61%", indexLabel: "Games" }

        ]
      }
      ]
    });
    chart1.render()
  }
  </script>
  <div id="chartContainer1" style="width: 100%"; height: 300px; display: inline-block;"></div>
  
{% endblock %}
